<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PPAI11_CU44_ConsultarEncuesta.Properties.Settings.PPAI11CU44DSI2023ConnectionString"
            connectionString="Data Source=KEVINCASTILLOPC;Initial Catalog=PPAI11CU44DSI2023;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>